    *{

margin: 0;
padding: 0;
box-sizing: border-box;

}

header{

background-color: #D9D9D9;
padding: 0.5rem 0rem;

}

.row{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.w-80{

    width: 80%;
    margin: auto;
}

header ul{

    display: flex;
    column-gap: 25px;
    align-items: center;
}

li{

    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

header button{

    background-color: #382525;
    padding: 5px 20px;
    
    color: #FFFFFF;
    border-radius: 5px;
}

#hero-section{

background-color: #382525;
color: white;
text-align: center;
padding: 86px 0px;

}

#hero-section h1,p{
    margin-bottom: 20px;
}

#hero-section button{

    background-color: #E26464;
    padding: 14px 28px;
    border-radius: 10px;
    color: #FFFFFF;
}

#grid-section{

background-color: #FFFFFF;
padding: 86px 0px;

}

.card-grid{

display: flex;
justify-content: center;
align-items: center;
gap: 20px;
flex-wrap: wrap;

}

.card{

width: 300px;
border-radius: 20px;
background-color: #D9D9D9;
display: flex;
flex-direction: column;
padding: 20px;
row-gap: 10px;
color: #0E0D0D;

}

.author{
    text-align: end;
}

footer{

background-color: #3F1919;

}

.footer-row{

display: flex;
justify-content: center;
align-items: center;
padding: 30px;
flex-wrap: wrap;
background-color: #D9D9D9;  
gap : 20px;

}

.footer-row div{

    width: 180px;
}

.footer-row div h3{

    margin-bottom: 23px;
}

.newsletter{

    display: flex;
    padding: 10px 5px;
    
}

.newsletter button{
    background-color: #E26464;
    padding: 10px 5px;
}

.copyright{

    background-color: #E26464;
    padding: 10px;
}

.copyright ul{

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-section h1{


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hero-section{

    font-style: italic;
}

header nav{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
